<html>
<body>
<form method="post" action="/createstudent">
<input type="text" placeholder="firstname" name="firstname">
<br>
<input type="text" placeholder="lastname" name="lastname">
<br>
<input type="text" placeholder="email" name="email">
<br>
<input type="radio" name="gender" value="male"> Male
<br>
<input type="radio" name="gender" value="female"> Female
<br>
<input type="checkbox" value="C" name="plang"> C
<br>
<input type="checkbox" value="Python" name="plang"> Python
<br>
<input type="checkbox" value="java" name="plang"> java
<br>
<select name="os">
<option> Windows </option>
<option> Linux</option>
<option>MacOS</option>
</select>
<br>
<select name="city" multiple>
<option> Aurangabad</option>
<option> Pune</option>
<option> Mumbai</option>
</select>
<br>

<input type="submit" value="save">
</form>
</body>
</html> 